.section1 {
  background: url("../assets/header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.section1 .container {
  display: flex;
  flex-direction: column;
}

.section1-contents {
  width: 25rem;
  margin: 6rem 0;
  color: white;
}

.section1-contents h1 {
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
  line-height: 4.2rem;
  margin-top: 10px;
}

.section1-contents p {
  margin: 1rem 0;
  line-height: 1.6rem;
  max-width: 24rem;
}

.section1-contents button {
  padding: 5px 20px;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  background-color: transparent;
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

.section1-contents button:hover {
  background-color: whitesmoke;
  color: #212121;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* ---------------------------- */

/* Section 2 */

.section2 {
  padding: 65px 0;
}

.section2 .container {
  display: flex;
  color: #2a2a2a;
}

.head-and-line {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.head-and-line h1 {
  margin: 0;
  flex: 1;
  font-size: 2.2rem;
}

.head-and-line p {
  margin: 0;
  flex: 1;
}

.support-description-div {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.support-description {
  width: 78%;
}

.section2 .container2 {
  margin: 0 10vw;
  display: flex;
  justify-content: space-between;
  color: #2a2a2a;
  padding: 50px 0;
}

.box-and-p {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.box-1,
.box-2,
.box-3 {
  height: 310px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.box-1-1,
.box-1-2,
.box-1-3,
.box-2-1,
.box-2-2,
.box-2-3,
.box-3-1,
.box-3-2,
.box-3-3 {
  flex: 1;
}

.box-1-1 h1,
.box-2-1 h1,
.box-3-1 h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.box-1-2,
.box-2-2,
.box-3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1-2 h1,
.box-2-2 h1,
.box-3-2 h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  line-height: 40px;
  color: white;
}

.box-1-3,
.box-2-3,
.box-3-3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.c31,
.c32,
.c33 {
  width: 95%;
  color: #212121;
  margin-top: 40px;
}

/* ---------------------------- */

/* Section3 */

.section3 {
  background: url("../assets/second-section.jpg") no-repeat center / cover;
}

.section3 .container {
  display: flex;
  justify-content: flex-end;
}

.section3-contents {
  width: 485px;
  margin: 120px 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.section3 h1 {
  font-size: 2.3rem;
  margin: 0;
  padding: 0;
  line-height: 50px;
  text-align: right;
}

.section3 p {
  text-align: right;
  margin: 30px 0;
  line-height: 25px;
  margin-left: 100px;
  box-sizing: border-box;
}

.section3 button {
  align-self: flex-end;
  width: auto;
  padding: 6px 22px;
  border: 1px solid white;
  font-weight: bold;
  font-size: 0.85rem;
  color: black;
  border-radius: 6px;
  background-color: whitesmoke;
  margin-right: 10px;
}

.section3 button:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* ---------------------------------- */

/* Section4 */

.section-4-main {
  margin: 60px 0;
}

.section4-contents {
  display: flex;
  justify-content: space-between;
}

.sec4-1,
.sec4-2,
.sec4-3 {
  margin-top: 50px;
  width: 32.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec4-1-b,
.sec4-2-b,
.sec4-3-b {
  height: 460px;
  position: relative;
}

.sec4-3-b .sale-indicator {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
  background-color: indianred;
  color: white;
  font-size: 75%;
  font-weight: bolder;
  padding: 6px 18px;
  border-radius: 5px;
}

.sec4-1-b {
  background: url("../assets/product-1.jpg") no-repeat center / cover;
}
.sec4-2-b {
  background: url("../assets/product-2.jpg") no-repeat center / cover;
}
.sec4-3-b {
  background: url("../assets/product-3.jpg") no-repeat center / cover;
}

.section4-contents h4 {
  text-align: center;
  font-size: 1.1rem;
  margin: 0;
  margin-top: 15px;
}

.section4-contents small {
  text-align: center;
  font-weight: bolder;
  font-size: 0.8rem;
  margin-top: 3px;
}

.section4-contents small del {
  color: indianred;
}

.section4-contents a {
  background-color: indianred;
  color: white;
  padding: 8px 26px;
  margin: auto;
  font-weight: bold;
  font-size: 0.8rem;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  text-decoration: none;
}

.section4-contents a:hover {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.section-4-main .view-products-button {
  text-align: center;
  margin-top: 40px;
}

.section-4-main .view-products-button button {
  background-color: #212121;
  color: white;
  padding: 8px 26px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}

.section-4-main .view-products-button button:hover {
  scale: 1.1;
  cursor: pointer;
  transition: scale 0.3s ease;
}
/* ---------------------------------- */

/* Section 5 */

.sec-5 {
  display: flex;
  padding: 60px 0;
}

.sec-5 .left {
  width: 36vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.sec-5 .left-image-main {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-5 .left-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 40px;
}

.sec-5 .left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 77%;
  scale: 1.3;
}

.sec-5 .right {
  background-color: #212121;
  color: white;
  padding: 5% 0;
  border-radius: 10px;
  margin-left: -11%;
  z-index: 1;
}

.sec-5 .right-container {
  display: flex;
  flex-direction: column;
  width: 38%;
  margin-left: 40%;
}

.sec-5 .right-container h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.sec-5 .right-container p {
  margin: 0;
  margin-top: 9px;
  line-height: 25px;
  font-size: 0.9rem;
}
