/* Section 1 */

.section-1 {
  display: flex;
  background-color: #212121;
  position: relative;
}

.support-header {
  position: absolute;
  width: 660px;
  height: 100%;
  right: 0;
  background: url("../assets3/support-phone.jpeg") no-repeat;
  background-position: right center;
  background-size: cover;
}

.overlay {
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(33, 33, 33, 1));
}

.section-1-container {
  margin: 40px 10vw;
  display: flex;
  flex-direction: column;
  z-index: 30;
  flex-wrap: wrap;
}

.section-1-container h1 {
  font-size: 1.8rem;
  color: whitesmoke;
}
.section-1 .support-options h1 {
  color: black;
}

.support-options {
  display: flex;
  flex-wrap: wrap;
}

.support-option {
  width: 330px;
  height: 320px;
  margin-right: 20px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-svg {
  background: url("../assets3/chat.svg") no-repeat;
}
.support-svg {
  background: url("../assets3/chat-warning.svg") no-repeat;
}
.svg-icon {
  width: 44px;
  height: 90px;
  background-position: center;
}

.support-info h1 {
  text-align: center;
  margin-bottom: 0;
}
.support-info small {
  display: block;
  margin: 12px 35px;
  font-size: 0.9rem;
  line-height: 21px;
  text-align: center;
}
.support-info button {
  display: block;
  margin: auto;
  padding: 7px 25px;
  background-color: indianred;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}
.support-info button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

/* ---------------------------- */

/* Section 2 */

.section-2 {
  margin: 80px 10vw;
  display: flex;
}

.section-2 .left {
  width: 330px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.section-2 h1 {
  margin: 0;
  font-size: 1.8rem;
}

.section-2 .contact-address {
  margin-top: 13px;
  margin-bottom: 30px;
}

.section-2 .left small {
  display: block;
  margin: 3px 0;
  font-size: 0.9rem;
}

.section-2 .right {
  flex: 1;
}

.section-2 form {
  display: flex;
  flex-direction: column;
}

.section-2 form small {
  display: block;
  margin: 13px 0;
  font-size: 0.9rem;
}

.section-2 form label {
  font-size: 0.9rem;
}
.section-2 form input {
  height: 30px;
  margin-top: 8px;
  margin-bottom: 13px;
  border: 1px solid black;
  text-indent: 8px;
}
.section-2 form textarea {
  height: 50px;
  margin-top: 8px;
  margin-bottom: 13px;
  border: 1px solid black;
  text-indent: 8px;
}
.section-2 form button {
  padding: 9px 0;
  max-width: 100px;
  background-color: indianred;
  border-radius: 7px;
  border: none;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}
.section-2 form button:hover {
  scale: 1.1;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: scale 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* ---------------------------- */
